<!--The content below is only a placeholder and can be replaced.-->
<div class="title">
  <mat-toolbar color = "primary">
      <span class="fill-remaining-space"></span>    
    <span>
      <h1>
        EMPLOYEE MANAGEMENT SYSTEM
      </h1>
    </span>
    <span class="fill-remaining-space"></span>
    <!-- <span>Right Aligned Text</span> -->

  </mat-toolbar>
</div>
<mat-tab-group mat-align-tabs="center" backgroundColor = "forground">
  <mat-tab label="EMPLOYEE DETAILS">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="ADD">
        <app-add-employee></app-add-employee>
      </mat-tab>
      <mat-tab label="SEARCH">
        <app-view-employees></app-view-employees>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="RECOMENDED SKILLS">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="ADD">
        <app-add-skill></app-add-skill>
      </mat-tab>
      <mat-tab label="SEARCH">
        <app-view-skills></app-view-skills>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>